# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.env/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Firebase service account key
serviceAccountKey.json

# Logs
*.log

# TensorFlow/Keras model weights (optional if you download dynamically)
*.h5
*.pb

# Miscellaneous
*.sqlite3
*.db

serviceAccountKey.json
.env